{% extends 'adminlte/base.html' %}

{% load mathfilters %}

{% load static %}

{% block title %}My App{% endblock %}

{% block content %}

     <form>

        <select id="filial" name="filial">
            <option selected value="0">----------------</option>
            {% for i in branches %}
                <option value="{{ i.id }}">{{ i }}</option>
            {% endfor %}
        </select>

        <select id="locomotive" name="locomotive">
            <option selected value="0">----------------</option>
            {% for i in locomotives %}
                <option value="{{ i.id }}">{{ i }}</option>

            {% endfor %}
        </select>
        <select id="period" name="period" class="select">
            <option selected value="0">----------------</option>
            {% for i in periods %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
    <script>
        var totalCost = 0,
            obj = {},
            arr = [];
    </script>
    {% if train > 0  %}
        {% for i in locomotives %}
            {% for j in periods %}
                {% if i.id == train %}
                    {# если все данные есть 111  + #}
                    {% if j.year == chart_period and j.locomotive_id == i.id and j.branch_id == filial %}
                        <script>
                            var barChartData = {
                                labels : [{{ chart_period }}],
                                datasets : [
                                    {
                                        fillColor : "rgba(220,220,220,0.5)",
                                        strokeColor : "rgba(220,220,220,0.8)",
                                        highlightFill: "rgba(220,220,220,0.75)",
                                        highlightStroke: "rgba(220,220,220,1)",
                                        data : [{{ i.rate |mul:j.run }}]
                                    },
                                ]
                            }
                            window.onload = function(){
                                var ctx = document.getElementById("canvas").getContext("2d");
                                window.myBar = new Chart(ctx).Bar(barChartData, {
                                    responsive : true
                                });
                            }
                        </script>
                    {# по одному локомотиву во всех филиалах за год  011 + #}
                    {% elif j.year == chart_period and filial == 0 and j.locomotive_id == i.id %}
                        <script>
                            totalCost += {{ i.rate }} * {{ j.run }}
                            console.log(totalCost)
                            var barChartData = {
                                labels : [{{ chart_period }}],
                                datasets : [
                                    {
                                        fillColor : "rgba(220,220,220,0.5)",
                                        strokeColor : "rgba(220,220,220,0.8)",
                                        highlightFill: "rgba(220,220,220,0.75)",
                                        highlightStroke: "rgba(220,220,220,1)",
                                        data : [totalCost]
                                    },
                                ]
                            }
                            window.onload = function(){
                                var ctx = document.getElementById("canvas").getContext("2d");
                                window.myBar = new Chart(ctx).Bar(barChartData, {
                                    responsive : true
                                });
                            }
                        </script>
                    {# за все года в филиале по поезду   110 + #}
                    {% elif j.branch_id == filial and chart_period == 0 and j.locomotive_id == i.id %}
                         <script>
                            if (obj.hasOwnProperty({{ j.year }})) {
                                obj[{{ j.year }}] += {{ i.rate |mul:j.run }}
                            }
                            else {
                                obj[{{ j.year }}] = {{ i.rate |mul:j.run }}
                            }
                            console.log(obj)
                            var value = [];
                            var year = []
                            for (var key in obj) {
                                year.push(key);
                                value.push(obj[key]);
                            }
                            var barChartData = {
                                labels : year,
                                datasets : [
                                    {
                                        fillColor : "rgba(220,220,220,0.5)",
                                        strokeColor : "rgba(220,220,220,0.8)",
                                        highlightFill: "rgba(220,220,220,0.75)",
                                        highlightStroke: "rgba(220,220,220,1)",
                                        data : value
                                    },
                                ]
                             }
                            window.onload = function(){
                                var ctx = document.getElementById("canvas").getContext("2d");
                                window.myBar = new Chart(ctx).Bar(barChartData, {
                                    responsive : true
                                });
                            }
                        </script>
                    {# за все года по поезду   010  + #}
                    {% elif filial == 0 and chart_period == 0 and j.locomotive_id == i.id %}
                       <script>
                            if (obj.hasOwnProperty({{ j.year }})) {
                                obj[{{ j.year }}] += {{ i.rate |mul:j.run }}
                            }
                            else {
                                obj[{{ j.year }}] = {{ i.rate |mul:j.run }}
                            }
                            console.log(obj)
                            var value = [];
                            var year = []
                            for (var key in obj) {
                                year.push(key);
                                value.push(obj[key]);
                            }
                            var barChartData = {
                                labels : year,
                                datasets : [
                                    {
                                        fillColor : "rgba(220,220,220,0.5)",
                                        strokeColor : "rgba(220,220,220,0.8)",
                                        highlightFill: "rgba(220,220,220,0.75)",
                                        highlightStroke: "rgba(220,220,220,1)",
                                        data : value
                                    },
                                ]
                             }
                            window.onload = function(){
                                var ctx = document.getElementById("canvas").getContext("2d");
                                window.myBar = new Chart(ctx).Bar(barChartData, {
                                    responsive : true
                                });
                            }
                        </script>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% elif  train == 0 %}
        {#  по филиалу за все поезда за год   101 + #}
        {% if filial > 0 and chart_period > 0 %}
            {% for j in periods %}
                {% if j.year == chart_period %}
                    {% for i in locomotives %}
                        {% if j.locomotive_id == i.id %}
                            <script>
                                totalCost += {{ i.rate |mul:j.run }}
                                var barChartData = {
                                    labels : [{{ chart_period }}],
                                    datasets : [
                                        {
                                            fillColor : "rgba(220,220,220,0.5)",
                                            strokeColor : "rgba(220,220,220,0.8)",
                                            highlightFill: "rgba(220,220,220,0.75)",
                                            highlightStroke: "rgba(220,220,220,1)",
                                            data : [totalCost]
                                        },
                                    ]
                                }
                                window.onload = function(){
                                    var ctx = document.getElementById("canvas").getContext("2d");
                                    window.myBar = new Chart(ctx).Bar(barChartData, {
                                        responsive : true
                                    });
                                }
                            </script>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {#  по всем годам 000 + #}
        {% elif filial == 0 and chart_period == 0 %}
            {% for j in periods %}
                {% for i in locomotives %}
                    {% if j.locomotive_id == i.id %}
                        <script>
                            if (obj.hasOwnProperty({{ j.year }})) {
                                obj[{{ j.year }}] += {{ i.rate |mul:j.run }}
                            }
                            else {
                                obj[{{ j.year }}] = {{ i.rate |mul:j.run }}
                            }
                            console.log(obj)
                            var value = [];
                            var year = []
                            for (var key in obj) {
                                year.push(key);
                                value.push(obj[key]);
                            }
                            var barChartData = {
                                labels : year,
                                datasets : [
                                    {
                                        fillColor : "rgba(220,220,220,0.5)",
                                        strokeColor : "rgba(220,220,220,0.8)",
                                        highlightFill: "rgba(220,220,220,0.75)",
                                        highlightStroke: "rgba(220,220,220,1)",
                                        data : value
                                    },
                                ]
                             }
                            window.onload = function(){
                                var ctx = document.getElementById("canvas").getContext("2d");
                                window.myBar = new Chart(ctx).Bar(barChartData, {
                                    responsive : true
                                });
                            }
                        </script>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {#  за один год    001 + #}
        {% elif filial == 0 and chart_period > 0 %}
            {% for j in periods %}
                {% if j.year == chart_period %}
                    {% for i in locomotives %}
                        {% if j.locomotive_id == i.id %}
                            <script>
                                totalCost += {{ i.rate }} * {{ j.run }}
                                var barChartData = {
                                    labels : [{{ chart_period }}],
                                    datasets : [
                                        {
                                            fillColor : "rgba(220,220,220,0.5)",
                                            strokeColor : "rgba(220,220,220,0.8)",
                                            highlightFill: "rgba(220,220,220,0.75)",
                                            highlightStroke: "rgba(220,220,220,1)",
                                            data : [totalCost]
                                        },
                                    ]
                                 }
                                window.onload = function(){
                                    var ctx = document.getElementById("canvas").getContext("2d");
                                    window.myBar = new Chart(ctx).Bar(barChartData, {
                                        responsive : true
                                    });
                                }
                            </script>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {# за один филиал по всем поездам за все года   100 + #}
        {% elif filial > 0 and chart_period == 0 %}
            {% for j in periods %}
                {% if j.branch_id == filial %}
                    {% for i in locomotives %}
                        {% if j.locomotive_id == i.id %}
                            <script>
                            if (obj.hasOwnProperty({{ j.year }})) {
                                obj[{{ j.year }}] += {{ i.rate |mul:j.run }}
                            }
                            else {
                                obj[{{ j.year }}] = {{ i.rate |mul:j.run }}
                            }
                            console.log(obj)
                            var value = [];
                            var year = []
                            for (var key in obj) {
                                year.push(key);
                                value.push(obj[key]);
                            }
                            var barChartData = {
                                labels : year,
                                datasets : [
                                    {
                                        fillColor : "rgba(220,220,220,0.5)",
                                        strokeColor : "rgba(220,220,220,0.8)",
                                        highlightFill: "rgba(220,220,220,0.75)",
                                        highlightStroke: "rgba(220,220,220,1)",
                                        data : value
                                    },
                                ]
                             }
                            window.onload = function(){
                                var ctx = document.getElementById("canvas").getContext("2d");
                                window.myBar = new Chart(ctx).Bar(barChartData, {
                                    responsive : true
                                });
                            }
                        </script>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

<canvas id="canvas" height="450" width="600"></canvas>




{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/chart.js/Chart.js' %}"></script>
    <script src="{% static 'js/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}